Lab05Solution/WPF/Connected Services/ServiceDALReference/ServiceDAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26436/ServiceDAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.Models" />
  <xs:import schemaLocation="http://localhost:26436/ServiceDAL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.Models" minOccurs="0" name="GetPeopleResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL.Models" minOccurs="0" name="FindResult" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL.Models" minOccurs="0" name="person" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL.Models" minOccurs="0" name="person" nillable="true" type="q4:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>